**/CHANGELOG.md
**/package*.json
package.json
AUTHORS.txt
dist/
yarn.lock
netlify.toml
yarn-error.log
*.sh
components/*/*.js
components/*/*.jsx
components/*/*.ts
components/*/*.tsx
node_modules/*
.vscode
.storybook
build/
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
**/*.yml
components/style/color/*.less
.env*